code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.inner {
  white-space: nowrap;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicator-container {
  margin: 0px 10px;
  cursor: pointer;
}

.default-indicator {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.default-indicator:hover {
  background-color: #cccc;
}

.bottom-inside-carousel {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.indicator-container:hover {
}

.left-indicator {
  position: absolute;
  top: 50%;
  left: 0;
}
.right-indicator {
  position: absolute;
  top: 50%;
  right: 0;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.fade-in {
  animation: fadeIn 5s;
}
.fade-out {
  animation: fadeOut 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
