body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.inner {
  white-space: nowrap;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators>button {
  margin: 5px;
}

.indicator-container {
  margin: 10px 20px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}